body {
    background-color: #f5f5f5;
}

.card {
    border: none;
    border-radius: 10px;
}

.card img {
    height: 160px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}

.btn-sewa {
    background-color: #ee4d2d;
    color: white;
    border-radius: 8px;
}

.btn-sewa:hover {
    background-color: #d63f22;
}
